@import "../../styles/variables";

.top-block {
  margin-top: 60px;
  height: 600px;

  @media (max-width: 640px) {
    margin-top: 40px;
  }

  background-image: url("../../bg/banner-photo.jpg");
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    width: 532px;
    height: 420px;
    margin-top: 107px;

    color: $bg1;
  }

  &__title {
    margin-bottom: 25px;

    font-size: $h1-lg;
    line-height: $h1-line-h-lg;
    font-weight: 400;
    letter-spacing: -0.5px;

    text-transform: uppercase;

    @media (max-width: 992px) {
      font-size: $h1-m;
      line-height: $h1-line-h-m;
    }

    @media (max-width: 576px) {
      font-size: $h1-sm;
      line-height: $h1-line-h-sm;
    }
  }

  &__text {
    margin-bottom: 34px;

    line-height: 1.5em;
  }
}
