$primaryColor: #ef5b4c;
$secondaryColor: #007bff;
$bg1: #ffffff;
$bg2: #f9f9f3;

$h1-lg: 50px;
$h1-line-h-lg: 54px;

$h1-m: 40px;
$h1-line-h-m: 44px;

$h1-sm: 30px;
$h1-line-h-sm: 34px;

$h2: 24px;
$h2-line-h: 29px;

$text: 16px;
$text-line-h: 24px;
