@import "../../styles/variables";

.header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  background: $bg1;

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;    
  }

  &__menu-burger {
    display: none;
  }  

  .nav {
    display: flex;
    width: 445px;
    justify-content: space-between;

    font-size: 14px;
    line-height: 60px;    

    &__item {  
      list-style: none;    
      color: black;
      cursor: pointer;

      &:focus {
        color: $secondaryColor;
        outline: none;        
      }

      &:hover {
        color: $primaryColor;
      }
    }
  }

  .nav-aside {    
    position: absolute;
    top: 0;
    left: -700px;
    width: 290px;
    height: 778px;
    transition: 0.5s;
    

    background: #ffffff;    
    
    &__logo {
      display: flex;      
      height: 40px;
      padding-left: 15px;
    }
  }
  
  .nav-aside.visible {
    left: 0;
  }

  .nav1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 15px;   
    height: 214px;
    margin: 0;
  } 

  .hor-line {
    margin-top: 0;
  }

  @media (max-width: 640px) {
    height: 40px;

    .header__content {
      margin-top: 10px;    
    }

    .nav-header {
      display: none;
    }

    .header__menu-burger {
      display: block; 
      cursor: pointer;  
    }  
  }
}
