@import "../../styles/variables";

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: $bg1;

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    width: 445px;
    justify-content: space-between;

    font-size: 14px;
    line-height: 60px;

    &__item {
      text-decoration: none;
      color: black;

      &:focus {
        color: $secondaryColor;
      }

      &:hover {
        color: $primaryColor;
      }
    }
  }
}
