@import "../../styles/variables";

.about-me {
  height: 721px;

  &__content {
    width: 100%;
  }

  &__title {
    margin-top: 152px;
    text-align: center;

    font-size: $h1-lg;
    line-height: $h1-line-h-lg;
    font-weight: 400;
    letter-spacing: -0.5px;  
  }

  &__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;  
  }

  &__left {
    margin: 20px 50px 0 25px;
  }

  &__img {
    width: 339px;   
  }

  &__right {
    width: 552px;
    text-align: justify;   
  }

  &__subtitle {
    font-size: $h2;
    font-weight: 400;
    line-height: $h2-line-h;
    margin: 17px 0 20px 0;
    white-space: nowrap;    
  }

  &__text {
    margin-bottom: 23px;

    font-size: $text;
    font-weight: 400;
    line-height: $text-line-h;

    color: #706f6f;
  }

  @media (max-width: 992px) {
    height: 600px;
    .about-me__title {
      margin-top: 100px;

      font-size: $h1-m;
      line-height: $h1-line-h-m;
    } 

    .about-me__img {
      width: 260px;
    } 
  }

  @media (max-width: 768px) {
    height: 670px;
    .about-me__title {
      margin-top: 80px;
    }

    .about-me__left {
      margin: 50px 10px 0 0;
    }

    .about-me__right {
      width: 500px;
    }
  }

  @media (max-width: 576px) {
    height: 863px;

    .about-me__title {
      font-size: $h1-sm;
      line-height: $h1-line-h-sm;
    }

    .about-me__right {
      width: 350px;
    }

    .about-me__wrap {
      flex-direction: column;
    }
  }
}
